@import 'src/styles/style-import';

.board-columns {
  @include flex-column-start;
  width: 100%;
  min-height: calc(100vh - $footer-height - $header-height);
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 3rem;

  .boards-header {
    @include flex-start-center;
    height: 100px;

    h1 {
      font-weight: 600;
      color: $primary-text-color;
      letter-spacing: 1px;
      font-size: 26px;
      margin: 0;
    }

    svg:hover {
      cursor: pointer;
    }

    button {
      margin-left: 20px;
    }
  }

  .columns {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
}
