@import 'src/styles/style-import';

.board-columns {
  padding-top: $header-height;
  overflow-x: auto;
  overflow-y: hidden;

  .boards-header {
    @include flex-start-center;

    svg:hover {
      cursor: pointer;
    }

    button {
      margin-left: 20px;
    }
  }

  .columns {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
}
