$width-container: 1270px;

$white-color: #FFF;
$light-grey-color: #EEE;
$primary-color: #6C3ED4;
$secondary-color: #EBC20C;
$bg-color: #F1E6EA;
$purple-color: #BE92E8;

$hover-speed: .5s;

$breakpoint1199: 1199px;
$breakpoint1099: 1099px;
$breakpoint899: 899px;
$breakpoint735: 735px;
$breakpoint670: 670px;
$breakpoint550: 550px;
$breakpoint480: 480px;
$breakpoint370: 370px;