$width-container: 1270px;

$header-height: 61px;
$footer-height: 59px;
$board-title-height: 84.5px;

$white-color: #fff;
$light-grey-color: #eee;
$dark-grey-color: #979797;
$primary-color: #6c3ed4;
$primary-text-color: #3c1f80;
$secondary-color: #ebc20c;
$bg-color: #f1e6ea;
$purple-color: #be92e8;
$purple-color-footer: #261436;
$board-background-color: #efefcd;
$board-primary-color: #af92e8;

$hover-speed: 0.5s;

$breakpoint1199: 1199px;
$breakpoint1099: 1099px;
$breakpoint899: 899px;
$breakpoint735: 735px;
$breakpoint670: 670px;
$breakpoint550: 550px;
$breakpoint480: 480px;
$breakpoint370: 370px;
