$width-container: 1270px;

$white-color: #fff;
$light-grey-color: #eee;
$primary-color: #6c3ed4;
$primary-input-color: #3c1f80;
$secondary-color: #ebc20c;
$bg-color: #f1e6ea;
$purple-color: #be92e8;

$hover-speed: 0.5s;

$breakpoint1199: 1199px;
$breakpoint1099: 1099px;
$breakpoint899: 899px;
$breakpoint735: 735px;
$breakpoint670: 670px;
$breakpoint550: 550px;
$breakpoint480: 480px;
$breakpoint370: 370px;
