@import './common.scss';

* {
  box-sizing: border-box;
  line-height: 1.3;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 4rem;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $purple-color;
  border-radius: 5px;
  border: 1px solid $light-grey-color;
}
