@import 'src/styles/style-import';


.header {
  @include flex-center-between;
  padding: 26px 112px;
  background: linear-gradient(140.77deg, $purple-color -20.7%, $primary-color 46.22%, $purple-color-footer 100.74%);

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    padding: 5px 112px;

    @media (max-width: 1920px) {
      height: 60px;
      animation: animate-0 0.3s linear;
    }

    @media (max-width: 750px) {
      height: 60px;
      animation: animate-1 0.3s linear;
    }

    @media (max-width: 600px) {
      height: 150px;
      animation: animate-2 0.3s linear;
    }

    @media (max-width: 370px) {
      height: 200px;
      animation: animate-3 0.3s linear;
    }
  }

  @media (max-width: $breakpoint735) {
    flex-direction: column;
    padding: 26px 50px;
  }

  .control {
    @include flex;
    align-items: center;
    gap: 24px;

    @media (max-width: $breakpoint735) {
      padding-top: 10px;
    }

    .MuiFormControl-root {
      margin: 0;
    }

    .MuiInputBase-root.MuiOutlinedInput {
      color: $secondary-color;
    }

    .MuiOutlinedInput-notchedOutline {
      border-color: $secondary-color;
      top: -8px;
      bottom: 2px;
    }

    .authorization {

      button {
        margin: 0 24px 0 0;

        @media (max-width: $breakpoint370) {
          margin-top: 10px;
        }
      }
    }
  }
}

@keyframes animate-0 {
  0% {
    height: 70px;
  }

  100% {
    height: 60px;
  }
}

@keyframes animate-1 {
  0% {
    height: 70px;
  }

  100% {
    height: 60px;
  }
}

@keyframes animate-2 {
  0% {
    height: 160px;
  }

  100% {
    height: 150px;
  }
}

@keyframes animate-3 {
  0% {
    height: 210px;
  }

  100% {
    height: 200px;
  }
}