@import 'src/styles/style-import';

.header {
  @include flex-center-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  transition: padding 0.6s;
  padding: 20px 112px;
  background: linear-gradient(
    140.77deg,
    $purple-color -20.7%,
    $primary-color 46.22%,
    $purple-color-footer 100.74%
  );

  &.sticky {
    padding: 14px 112px;
  }

  img {
    height: fit-content;

    &:hover {
      cursor: pointer;
    }
  }

  @media (max-width: $breakpoint735) {
    flex-direction: column;
    padding: 26px 50px;
  }

  .control {
    @include flex;
    align-items: center;
    gap: 24px;

    @media (max-width: $breakpoint735) {
      padding-top: 10px;
    }

    .MuiFormControl-root {
      margin: 0;
    }

    .MuiInputBase-root {
      color: $secondary-color;
    }

    .MuiOutlinedInput-notchedOutline {
      border-color: $secondary-color;
      top: -8px;
      bottom: 2px;
    }

    .authorization {

      button {
        margin: 0 24px 0 0;

        @media (max-width: $breakpoint370) {
          margin-top: 10px;
        }
      }
    }
  }
}
