@import 'src/styles/style-import';

.banner-block {
  min-height: 40vw;
  color: $white-color;
  background: url('/assets/main-page/group.png') no-repeat;
  background-position: center top;
  background-size: contain;

  .banner-content {
    @include flex-center-between;
    position: relative;
  
    .cta {
      max-width: 390px;
      position: relative;
      bottom: 80px;
    
      h1 {
        max-width: 350px;
        margin: 0 0 30px;
      }
    }

    .mobiles {
      position: relative;
      z-index: 2;
      top: 150px;
      width: 740px;
      height: 768px;
      background: url('/assets/main-page/devices.png') no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

.feature-text {
  position: relative;
  bottom: 80px;
}

.feature-title {
  max-width: 370px;
  width: auto;
  display: block;

  .img {
    height: auto;

    img {
      margin-left: 0;
      margin-right: auto;
    }
  }

  h3 {
    position: relative;
    font-size: 1.6em;
    padding: 14px 0 10px;
    margin: 0 0 20px;

    &::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 3px;
      left: 0;
      bottom: 0;
      background: $primary-color;
    }
  }
}


.feature-content {
  position: relative;

  .feature-title{
    margin: 0 auto;
    z-index: 2;
  }

  .advantages {
    @include flex-between;
    padding-top: 20px;
    position: relative;
    z-index: 2;
  
    .feature {
      @include feature-card;
      color: $white-color;
      margin-bottom: 30px;
      background: $secondary-color;

      .top {
        @include flex-center;
        flex-direction: column;
        text-align: center;
        min-height: 138px;
      }
  
      h3 {
        font-size: 1.4em;
        margin: 20px 0;
      }
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: -30px;
    width: 50%;
    height: 145%;
    background: url('/assets/main-page/features-before.svg') no-repeat;
    background-size: contain;
    background-position: left top;
    z-index: 1;
  }

  &::after {
    left: auto;
    right: 0;
    top: -65%;
    width: 16%;
    background: url('/assets/main-page/features-after.svg') no-repeat;
    background-size: contain;
    background-position: right top;
  }
}

.block-teams {
  position: relative;
  padding-top: 50px;
  margin: 90px 0;

  .teams-items {
    @include flex-between;
    position: relative;
    z-index: 2;

    .teams {
      @include flex-between;
      width: 46%;
      margin-top: 45px;
      margin-left: 54px;
      transform: rotate(-9.9deg);

      .feature {
        @include feature-card;
        margin-bottom: 60px;
        background: #FFF;
        color: #000;

        .top {
          @include flex-center;
          flex-direction: column;
          text-align: center;
        }

        &:last-child {
          max-width: 100%;
          flex-direction: row;
          justify-content: space-between;

          head {
            width: 30%;
          }

          p {
            width: 65%;
          }

          .top {
            margin: 0 auto;
          }
        }
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: calc((100vw - $width-container) / 2);
    top: -30px;
    width: 12vw;
    height: 5.5vw;
    background: url('/assets/main-page/teams-before.svg') no-repeat;
    background-size: contain;
    background-position: right top;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 6vw;
    width: 30vw;
    height: 30vw;
    background: url('/assets/main-page/teams-after.svg') no-repeat;
    background-size: contain;
    background-position: right bottom;
    z-index: 1;
  }
}

.question-block {
  min-height: 650px;
  padding: 45px 0;
  background: url('/assets/main-page/question.jpg') no-repeat;
  background-size: cover;
  background-position: center 40%;

  .feature-title {
    h3 {
      color: $white-color;

      &::after {
        background-color: $yellow-color;
      }
    }
  }
}
