@import 'src/styles/style-import';

.footer {
  @include flex-center-between;
  background-color: $purple-color-footer;
  color: $white-color;
  min-height: $footer-height;
  gap: 2rem;
  padding: 0.8rem 4rem;

  @media (max-width: $breakpoint735) {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.8rem 2rem;
  }

  .year {
    margin: 0;
  }

  .git_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    @media (max-width: $breakpoint735) {
      flex-direction: column;
    }

    .git_link {
      @include flex;

      img {
        padding-right: 8px;
      }

      text-decoration: none;
      color: $white-color;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}
